@import "../../mixins/mixins.module.scss";

form {
  margin: 10px;
  max-width: 400px;
  display: flex;
}

.btn {
  @include btn;
  &:hover {
    @include hover;
  }
}

.title {
  @include title;
}

input {
  @include input;
}
